/* import tailwind css to applay dynamically  */

@import "tailwindcss"; 


.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
  right:0;
  bottom:0
}
/* input:hover , input:active{
  outline: none;
} */

input{
  outline: none;
}

input:active{
  background-color: transparent;
}
button{
  cursor: pointer;
  border:none;
}

/* Universal  */ 
/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    --moz-appearance: textfield;
}


div::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
}